packages/react-native-shiki-engine/third_party/oniguruma/** linguist-vendored
packages/react-native-shiki-engine/android/src/main/cpp/include/onig*.h linguist-vendored
packages/react-native-shiki-engine/apple/Oniguruma.xcframework/** linguist-vendored
